.page.theme_light {
  --clr-bg-accent: #ff8dcb;
  --clr-text-accent: #ffc2e6;
  --clr-text-base: #353430;
  --clr-text-heading: #353430;
  --clr-text-contrast: #353430;
  --path-cover-image: url('../images/cover-image-light.png');
}

.page.theme_light .header-decor {
  display: none;
}
