.page {
  color: var(--clr-text-base);
  font-family: var(--ff-main), sans-serif;
  font-weight: normal;
  font-size: var(--fz-base);
  line-height: 1.3;
  background-color: var(--clr-bg-base);
  background-image: var(--path-cover-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  grid-template-rows: 1fr min-content 1fr;
}

.decorated-zone {
  position: relative;
  display: grid;
  padding: var(--padding-base);
  color: var(--clr-text-heading);
  block-size: max(668px, 100dvb);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  border-inline-end: 1px solid currentColor;
  border-block-start: 1px solid currentColor;
  inline-size: 25px;
  block-size: 25px;
  inset-block-start: var(--padding-base);
  inset-inline-end: var(--padding-base);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  border-inline-start: 1px solid currentColor;
  border-block-end: 1px solid currentColor;
  inline-size: 25px;
  block-size: 25px;
  inset-block-end: var(--padding-base);
  inset-inline-start: var(--padding-base);
}

.header__decor {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 25px;
  text-transform: uppercase;
  inset-block-start: var(--padding-base);
  inset-inline-end: var(--padding-base);
}

.header__decor::after {
  content: '';
  margin-inline-end: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px currentColor;
  background-color: currentColor;
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  justify-self: flex-end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 1.5px 13px;
  line-height: 1;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--clr-border-btn);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid currentColor;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.title {
  color: var(--clr-text-accent);
  font-weight: bold;
  font-size: var(--fz-text-cover);
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--clr-box-shadow);
}

.header__subtitle {
  align-self: center;
  font-weight: bold;
}

.title-decor {
  color: var(--clr-text-contrast);
  background-color: var(--clr-bg-accent);
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--clr-bg-accent);
}

.text-link:hover {
  border-block-end: 1px solid currentColor;
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  outline: 1px solid currentColor;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px var(--padding-base);
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__title {
  color: var(--clr-text-heading);
  font-size: var(--fz-base);
}

.section__text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__paragraph {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__paragraph-subtitle {
  font-size: var(--fz-base);
}

.section__text-caption {
  font-size: var(--fz-base);
}

.section__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.solutions .section__paragraph-subtitle {
  font-weight: normal;
}

.section__heading {
  margin-block-end: -10px;
  font-size: var(--fz-base);
}

.section__gallery {
  display: grid;
  gap: var(--padding-base);
}

.section__gallery-item {
  font-size: 0;
}

.section__gallery-picture {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  place-items: center;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--clr-box-shadow);
}

@media (min-width: 768px) {
  :root {
    --padding-base: 20px;
    --fz-text-cover: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    margin-inline-start: calc(-1 * (var(--padding-base)));
  }

  .header__subtitle {
    justify-self: flex-end;
    inline-size: calc((364 / 728) * 100%);
  }

  .content {
    gap: 80px;
    padding-block: 60px;
  }

  .section__title {
    display: inline-block;
    flex-shrink: 0;
    width: 30.76vi;
  }

  .reasons {
    flex-direction: row;
  }

  .solutions {
    flex-direction: row;
  }

  .section__heading {
    margin-block-end: unset;
  }

  .section__gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 25vi 30vi 41.4vi;
  }

  .section__gallery-item:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1 / 1;
  }
  .section__gallery-item:nth-child(2) {
    grid-row: 1 / span 2;
  }
  .section__gallery-item:nth-child(3) {
    grid-row: 2 / span 2;
  }

  .section__gallery-item:nth-child(5) {
    grid-column: 2 / span 2;
  }
}

@media (min-width: 1024px) {
  .distractions .section__text-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .distractions .section__paragraph {
    flex: 1;
    min-inline-size: 314px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .section__gallery {
    grid-template-rows: 25.4vi 30.8vi 42.2vi;
  }
}
